# ============================================
# BACKEND VARIABLES (Render)
# ============================================

PORT=8787
STORAGE_MODE=supabase
PUSH_API_TOKEN="mya_2026_9fJ2kL8pQw7xZr4nT6yV3bH1"
VAPID_SUBJECT="mailto:tu-correo@dominio.com"
VAPID_PUBLIC_KEY="BMcuS-yIRbj3xk4JkAgMEPbOWZayZpHu-XwPNEptItFnBflPcfVUKRfrZ5DiQQMwwBDuZR4tQdjygVUc0d6qUzQ"
VAPID_PRIVATE_KEY="7uKtaNIofp0XN5GU8-bldAZnx5EarT6by6THDPDmtw0"

# Supabase (PostgreSQL en la nube)
# Obtén estos valores desde https://supabase.com
SUPABASE_URL="https://pxwurgeoqiygcyggummh.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4d3VyZ2VvcWl5Z2N5Z2d1bW1oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMjc5NzksImV4cCI6MjA5MzYwMzk3OX0.d8NkIHhRbm_8dbG9vSf-L3R91Of6290owQSex_n5kfw"

# ============================================
# FRONTEND VARIABLES (Vercel)
# ============================================

VITE_API_BASE_URL="https://horarioapp-ows5.onrender.com"
VITE_PUSH_API_TOKEN="mya_2026_9fJ2kL8pQw7xZr4nT6yV3bH1"
SUPABASE_ANON_KEY="tu-clave-publica-supabase"
